@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --header-height: 3rem;
    --hue-color: 190;
    --first-color: hsl(190, 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-navbar-brand-margin-end: 0.5rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --body-font: "Caladea", serif;
    --title-font: "Caladea", serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    --z-tooltip: 10;
    --z-fixed: 100;

    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media screen and (min-width:968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*===Base===*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img, video{
    max-width: 100%;
    height: auto;
}

button, input{
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button{
    cursor: pointer;
}

input{
    outline: none;
}

/*===Reusable CSS Classes===*/
.section{
    padding: 0 0 2rem;
}

.section__title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid{
    display:grid;
    gap: 1.5rem;
}

/*=== HEADER ===*/
.header{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: transparent;
}

/*=== NAV ===*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9rem;
    font-weight: 800;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
  color: var(--bs-navbar-brand-hover-color);
}
.nav1{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9rem;
    font-weight: 800;
}

.nav__logo,
.nav__toggle {
    color: var(--white-color);
}

.nav1__logo,
.nav1__toggle {
    color: var(--first-color);
}


.nav1__logo{
    padding-left: 2rem;
}
.nav1__logo
.nav__logo{
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
    padding-left: 5rem;
    padding-top: 2 rem;
}

.nav1__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__menu{
    position: relative;
    padding-left: 27rem;
}

.nav1__menu{
    position: relative;
    padding-left: 27rem;
}
.img1{
    padding-left: 2rem;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: 50%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
        padding: 1rem;
        transition: .4s;
    }

    .nav1__menu{
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        left: 50%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
        padding: 1rem;
        transition: .4s;
}
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav1__list{
    display: flex;
    flex-direction: column;
    row-gap: 20rem;
    color: #fff;
}

.nav__link{
    color: var(--text-color-light);
    text-transform: uppercase;
}

.nav1__link{
    color: #fff;
    text-transform: uppercase;
}

.nav__link:hover{
    color: var(--white-color);
}

.nav__item{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    color: var(--first-color);
}

.nav1__item{
    color: #fff;
    flex: 1 1 auto;
    text-align: center;
}

.nav__item:hover{
    background-color: var(--first-color);
}

.nav__close{
    position:absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.show-menu{
    right: 0;
}

/* change bg header*/
.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0 0 4px hasla(var(--hue-color), 64%, 15%, .15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle{
    color: var(--title-color);
}
.home__img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: 32%;
}

.home__container{
    position: relative;
    height: calc(90vh - var(--header-height));
}

.home__data-title{
    color: var(--white-color);
    font-weight: var(--font-medium);
    font-size: var(--h1-font-size);
}

.home__data{
    padding-top: 5rem;
    row-gap: 3rem;
}

/*=== BUTTON ===*/
.button{
    display: inline-block;
    background-color: var(--white-color);
    color: var(--first-color);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    transition: .3s
}

.button:hover{
    background-color: var(--first-color);
    color: var(--white-color);
}

.podcast_h2{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.podcast1{
    border-radius: 12px;
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-left: 50px;
    margin-right: 50px;
}

.podcast_button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem 1rem;
    transition: .3s
}

.podcast_button:hover{
    background-color: var(--first-color-alt);
    color: var(--white-color);
}

.podcast1 img,
.podcast1 p{
    margin: 5px;
}

.podcast_p{
    padding-left: 10px;
    padding-bottom: 10px;
}

.podcast_container{
    display: flex;
    align-content: center;
    padding-bottom: 1rem;
}

.blog_section{
    background-color: var(--first-color);
}

.blog_h2{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 50px;
    color: var(--white-color);
}

.essays_container .button:hover{
    background-color: var(--first-color-alt);
    color: var(--white-color);
}

.video_section{
    background-color: var(--first-color-section);
}

.video_h2{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 50px;
    color: var(--first-color);
}

.video_container{
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    align-content: center;
}
.iframe{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}


.video_description{
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    text-align: center;
    margin-bottom: var(--mb-2-5);
    color: var(--first-color);
}

.video_content{
    position: relative;
}

.video_button{
    position: absolute;
    right: 1rem;
    padding: 1rem 1.5rem;
    bottom: -1rem;
}

.about_section{
    background-color: var(--first-color);
}

.about_container{
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.about_description{
    color: var(--first-color);
    padding-left: 25rem;
    padding-right: 10rem;
}

.video_button:hover{
    background-color: var(--first-color-alt);
    color: var(--white-color);
}

.video_button-icon{
    font-size: 1.2rem;
}

@media screen and (max-width: 767px){
    .img_container{
        margin-top:1rem;
        background-color: var(--first-color-alt);
        padding: 0.5rem;
    }

    .blog_section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .blog_container{
        color: var(--white-color);
    }
    
    .blog_p{
        background-color: var(--first-color-alt);
        padding: 0.5rem;
    }
    
    .blog_p .button{
        margin-left: 1px;
        margin-bottom: 0.5rem;
        font-size: var(--small-font-size);
        padding: 0.75rem;
    }
    
    .blog_p p{
        padding-bottom: 0.5rem;
    }
    
    h3 {
        color: var(--white-color);
        padding-bottom: 0.5rem;
    }
    
    .img_container .button{
        margin-left: 1px;
        margin-bottom: 0.5rem;
        font-size: var(--small-font-size);
        padding: 0.75rem;
    }
    .img_videocontainer .button{
        margin-left: 0px;
        margin-bottom: 0rem;
        font-size: var(--small-font-size);
        padding: 0rem;
    }
    .video_container{
        padding-bottom: 5cm;
        padding-right: 0cm;
        padding-left: 5cm;
        padding-bottom: 5cm;
    }
    .satu_container p{
        padding-bottom: 0.5rem;
    }
    
    .satu_container{
        padding-bottom: 0.5rem;
    }
    
    .dua_container p{
        padding-bottom: 0.5rem;
    }

    .essays_section{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .essays_p h3{
        color: var(--first-color);
    }

    .essays_p{
        border: 1px solid;
        border-radius: 12px;
        padding: 0.5rem;
    }

    .essays_p .button{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: var(--small-font-size);
        padding: 0.75rem;
        background-color: var(--first-color);
        color: var(--white-color);
    }

    .resources_p h3{
        color: var(--first-color);
    }

    .resources_p{
        border: 1px solid;
        border-radius: 12px;
        padding: 0.5rem;
    }

    .p_container{
        margin-top:1rem;
        border: 1px solid;
        border-radius: 12px;
        padding: 0.5rem;
    }

    .p_container .button{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: var(--small-font-size);
        padding: 0.75rem;
        background-color: var(--first-color);
        color: var(--white-color);
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav1{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__link{
        color: var(--white-color);
        text-transform: initial;
    }
    .nav1__link{
        color: var(--first-color);
        text-transform: initial;
    }
    .nav__link:hover{
        color: var(--white-color);  
    }
    .nav__dark{
        position: initial;
    }
    .nav__menu{
        display: flex;
        column-gap: 1rem;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 2rem;
    }
    .nav1__list{
        flex-direction: row;
        column-gap: 2rem;
        color: #fff;
    }
    .nav__toggle,
    .nav__close,
    .change-theme-name{
        display: none;
    }
    .nav1__toggle{
        display: none;
    }
    .change-theme{
        color: var(--white-color);
    }
    .scroll-header .nav__link{
        color: var(--text-color);
    }
    .scroll-header .nav__link:hover{
        color: var(--white-color);
    }
    .scroll-header .nav__item:hover{
        background-color: var(--first-color);
    }
    .home__data{
        margin-left: 30px;
        margin-top: 90px;
    }
    .podcast1{
        border-radius: 12px;
        border: 1px solid;
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-left: 150px;
        margin-right: 150px;
    }

    .podcast_p{
        padding-left: 10px;
        padding-top: 50px;
        padding-right: 10px;
    }
    .video1{
        border-radius: 20px;
        border: 1px solid;
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 20px;
    }
    .video_p{
        padding-left: 10px;
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 10px;
    }

    .podcast_p p{
        margin-bottom: 20px;
    }
    .blog_p{
        color: var(--white-color);
        font-size: var(--normal-font-size);
        margin-right: 40px;
        padding: 0.5rem;
        background-color: var(--first-color-alt);
    }

    .blog_p p,
    .blog_p h3{
        padding: 0.5rem;
        color: var(--white-color);
    }
    .blog_container{
        display: grid;
        grid-template-columns: 70% 30%;
        margin-right: 40px;
        margin-left: 40px;
    }

    .blog_p .button{
        margin-left: 7px;
        margin-bottom: 1rem;
        font-size: var(--small-font-size);
        padding: 0.75rem;
    }

    .img_container p{
        padding: 0.5rem;
        color: var(--white-color);
    }

    .img_container{
        padding: 0.5rem;
        background-color: var(--first-color-alt);
    }

    .img_container .button{
        margin-left: 7px;
        margin-bottom: 0.5rem;
        font-size: var(--small-font-size);
        padding: 0.75rem;
    }

    .essays_container{
        display: grid;
        grid-template-columns: 70% 30%;
        margin-right: 40px;
        margin-left: 40px;
    }

    .essays_p p,
    .essays_p h3{
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .essays_p{
        color: var(--first-color);
        font-size: var(--normal-font-size);
        margin-right: 40px;
        border: 1px solid;
        border-radius: 12px;
    }

    .essays_p .button{
        margin-left: 12px;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        font-size: var(--small-font-size);
        padding: 0.75rem;
        background-color: var(--first-color);
        color: var(--white-color);
    }

    .p_container{
        border: 1px solid;
        border-radius: 12px;
    }

    .p_container p{
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .p_container .button{
        margin-left: 12px;
        margin-bottom: 1rem;
        font-size: var(--small-font-size);
        padding: 0.75rem;
        background-color: var(--first-color);
        color: var(--white-color);
    }

    .video{
        position: relative;
        left: 17%;
    }

    .video_button{
        position: absolute;
        right: 17rem;
        bottom: -1rem;
    }

    .resources_container{
        margin-right: 40px;
        margin-left: 40px;
    }

    .resources_p{
        color: var(--first-color);
        font-size: var(--normal-font-size);
        margin-right: 40px;
        border: 1px solid;
        border-radius: 12px;
    }

    .resources_p p,
    .resources_p h3{
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        padding-bottom: 0.35rem;
        padding-top: 0.35rem;
    }

    .about_container{
        margin-right: 100px;
        margin-left:100px;
        margin-bottom: 0.5rem;
    }
}
